@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Library</h1>
    <p>A project made by</p>
    <p>
        <a href="https://linkedin.com/in/assadanabosi">Assad Anabosi - 201912004</a>
        <br />
        <a href="https://www.linkedin.com/in/adham-iyad-4649b0225/">Adham Eyad - 202010077</a>
        <br />
        <a href="">Orwa Samara - 2020</a>
    </p>
</div>
